
<dl class="replies" id="link">
<dd class="reply_con" >
<a href="javascript:void(0)">
<img src="__PUBLIC__/home/images/timg.jpg" alt="I love you" width='60p'>
</a>
</dd>
<dd class="reply_con" >
<span class="c96 font12 fl ml5">{$data.comment_time|date="Y-m-d H:i:s",###}</span>                
<a class="fr reply_btn c64 font12" href="javascript:void(0)" title="回复">回复</a>
<p class="clear"></p>
<p class="reply_text font14 c64">{$data.comment_text}&nbsp;&nbsp;&nbsp;&nbsp;</p>
</dd>
</dl>